.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Package.resolved
/cgi/CMakeFiles/
/cgi/cmake_install.cmake
/cgi/Makefile
/cgi/CMakeCache.txt
